{
  "ID":"176690627AB54C8381A7FD99A3519F42",
  "ActionKeyword":"r",
  "Name":"#title#",
  "Description":"#description#",
  "Author":"#author#",
  "Version":"#version#",
  "Language":"csharp",
  "Website":"http://www.barocio.net",
  "IcoPath": "Images\\gear.png",
  "ExecuteFileName":"Wox.Plugin.Runner.dll"
}